<template name="topbar">
  <div class="navbar navbar-default navbar-fixed-top topbar" id="topbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="/dashboard">
          {{> svguse "logo-medialist" }}
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{{active 'dashboard'}}"><a href="/dashboard">Activity</a></li>
        <li class="{{active 'contacts'}}"><a href="/contacts">Contacts</a></li>
        <li class="{{active 'medialists'}}"><a href="/medialists">Medialists</a></li>
      </ul>
    </div>
  </div>
</template>
