<template name="topbar">
  <div id="topbar" class="navbar navbar-default topbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-left medialist-breadcrumbs">
        {{#each breadcrumbs}}
          <li><a href="{{getPath route params queryParams}}">{{text}}</a></li>
        {{/each}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="glyphicon glyphicon-plus"></i></a></li>
          <li><a href="#"><i class="glyphicon glyphicon-bell"></i></a></li>
      </ul>
      <form class="navbar-form navbar-right">
          <input type="text" class="form-control col-lg-8" placeholder="Search">
      </form>
    </div>
  </div>
</template>
