<template name="createMedialist">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Medialist</h4>
      </div>
      <div class="modal-body">
        <form id="addMedialist">
          <div class="form-group">
            <label for="medialist-name">Name</label>
            <div class="input-group">
              <span class="input-group-addon">#</span>
              <input type="text" id="medialist-name" class="form-control" placeholder="Add a hashtag" autofocus>
            </div>
          </div>
          <div class="form-group">
            <label for="medialist-client">Client</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
              <input type="text" class="form-control typeahead" name="client" autocomplete="off" spellcheck="off" id="medialist-client" placeholder="Client name">
            </div>
          </div>
          <div class="form-group">
            <label for="medialist-purpose">Purpose</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
              <textarea id="medialist-purpose" class="form-control" placeholder="What is your Medialist for?"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="medialist-topics">Topics</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
              <input type="text" class="form-control" name="client" autocomplete="off" spellcheck="off" id="medialist-topics" placeholder="Add a list of topics such as mobile, phones and tech">
            </div>
          </div>
          <div class="text-right">
            <a class="btn btn-flat btn-default" data-dismiss="modal" aria-label="Close">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          {{#if error}}
            <div class="alert alert-danger">
              {{error}}
            </div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</template>
