<template name="medialist">
{{#with medialist}}
<div class="medialist-purpose">
  <p>{{purpose}}</p>
</div>
<div class="medialist-toolbar">
  <div class="container-fluid">
    <div class="navbar-form navbar-left">
      {{#if checkSelectKeys}}
      <button class="btn btn-link">{{pluralize 'contact' checkSelectKeys.length}}</button>
      <a href="#" class="btn btn-success" data-action="create-new-medialist">Create Medialist</a>
      <a href="#" class="btn btn-success" data-action="add-to-existing-medialist">Add to existing</a>
      <a href="#" class="btn btn-danger" data-action="remove-from-medialist">Remove</a>
      {{else}}
      <a href="#" class="btn btn-primary btn-raised" data-action="add-new">Add Contact</a>
      {{/if}}
    </div>
    <div class="navbar-form navbar-right" role="filter">
      <input type="text" class="form-control" placeholder="Filter" data-field="filter-term" value="{{filterTerm}}">
    </div>
  </div>
</div>
{{/with}}
<table class="medialist-table table table-responsive">
  <thead>
  <tr>
    <th class="no-sort col-checkbox">
      <div class="checkbox checkbox-default">
        <label>
          <input type="checkbox" />
          <span class="checkbox-material" data-checkbox-all>
            <span class="check"></span>
          </span>
        </label>
      </div>
    </th>
    <th class="no-sort col-img"></th>
    <th>Name</th>
    <th class="hidden-xs">Title</th>
    <th class="hidden-xs">Media outlet</th>
    <th class="sort-default" data-sort-method="numeric">Status</th>
    <th class="no-sort hidden-xs col-wide">Latest feedback</th>
  </tr>
  </thead>
  <tbody>
    {{#each contacts}}
      {{> medialistContactRow this}}
    {{else}}
      <tr>
        <td></td>
        <td></td>
        <td><strong>Add some people to contact&hellip;</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>

<template name="medialistContactRow">
  <tr class="contact-row {{#if equal slug selected}}selected{{/if}}" data-contact="{{slug}}" data-action="show-contact-slide-in">
    <td class="col-checkbox" data-no-sidebar>
      <div class="checkbox checkbox-default">
        <label>
          <input type="checkbox" checked={{checked}} />
          <span class="checkbox-material" data-checkbox>
            <span class="check"></span>
          </span>
        </label>
      </div>
    </td>
    <td class="col-img">
    {{#if avatar}}
      <img class="img-rounded" width="40" height="40" src="{{avatar}}" alt="twitter profile image"/>
    {{/if}}
    </td>
    <td class="col-name">
      {{name}}
    </td>
    <td class="col-title hidden-xs">
      {{roles.[0].title}}
    </td>
    <td class="col-org hidden-xs">
      {{roles.[0].org.name}}
    </td>
    <td data-sort="{{statusIndex status}}" data-no-sidebar>
      <div class="btn-group btn-group-sm btn-group-status" data-field="status">
        <button class="btn dropdown-toggle {{classify status}}" data-toggle="dropdown" aria-expanded="false">
          <span>{{status}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {{#each statuses}}
          <li><a href="#" data-status="{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </div>
    </td>
    <td class="hidden-xs col-feedback">
    {{#with latestFeedback}}
      {{> contactFeedback this}}
    {{else}}
      <p>&hellip;</p>
    {{/with}}
    </td>
  </tr>
</template>

<template name="contactFeedback">
  {{message}}
  <div class="feedback-details">
    {{createdBy.name}} | {{fromNow createdAt}}
  </div>
</template>
