<template name="medialist">
{{#with medialist}}
<div class="medialist-purpose">
  <p>{{purpose}}</p>
</div>
<div class="medialist-toolbar">
  <div class="container-fluid">
    <button class="btn btn-link">All contacts</button>
    <div class="btn-group">
      <a href="#" class="btn btn-primary" data-action="add-new">Add New</a>
      <a href="#" data-target="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>
{{/with}}
<table class="medialist-table table table-responsive">
  <thead>
  <tr>
    <th class="col-checkbox">
      <div class="checkbox checkbox-default">
        <label>
          <input type="checkbox"/>
          <span class="checkbox-material">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </th>
    <th></th>
    <th>Name</th>
    <th class="hidden-xs">Organisation</th>
    <th>Status</th>
    <th class="hidden-xs">Latest feedback</th>
    <th class="hidden-xs">Coverage</th>
  </tr>
  </thead>
  <tbody>
    {{#each contacts}}
      {{> medialistContactRow this}}
    {{else}}
      <tr>
        <td colspan="7">
          <strong>Add some people to contact&hellip;</strong>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>

<template name="medialistContactRow">
  <tr class="contact-row" data-action="show-contact-slide-in">
    <td class="col-checkbox">
      <div class="checkbox checkbox-default">
        <label>
          <input type="checkbox"/>
          <span class="checkbox-material">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </td>
    <td class="col-img">
    {{#if avatar}}
      <img class="img-rounded" width="40" height="40" src="{{avatar}}" alt="twitter profile image"/>
    {{/if}}
    </td>
    <td class="col-name">
      {{name}}
    </td>
    <td class="col-org hidden-xs">
      {{roles.[0].org}}
    </td>
    <td>
      <div class="btn-group btn-group-sm btn-group-status" data-field="status">
        <button class="btn dropdown-toggle {{classify contactMedialist}}" data-toggle="dropdown" aria-expanded="false">
          <span>{{contactMedialist}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {{#each statuses}}
          <li><a href="#" data-status="{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </div>
    </td>
    <td class="hidden-xs col-feedback">
    {{#with latestFeedback}}
      {{> contactFeedback this}}
    {{else}}
      <p>&hellip;</p>
    {{/with}}
    </td>
    <td class="hidden-xs col-coverage">
      <p>&hellip;</p>
    </td>
  </tr>
</template>

<template name="contactFeedback">
  {{message}}
  <div class="feedback-details">
    {{createdBy.name}} | {{fromNow createdAt}}
  </div>
</template>
