.medialist-purpose {
  background: #fff;
  padding: 30px 0 18px 45px;
}
.medialist-table {
  background: #fff;
  font-size:12px;
  thead > tr > th {
    border-bottom: inherit;
    vertical-align: middle;
    font-weight: 300;
  }
  tbody > tr > td {
    vertical-align: middle;
  }
}
.col-checkbox {
  text-align: center;
}
.col-img {
  width:60px;
}