<template name="medialists">
<div class="medialist-toolbar">
  <div class="container-fluid">
    <button class="btn btn-link">All medialists</button>
    <a href="#" class="btn btn-primary" data-action="create-medialist">Add Medialist</a>
    <div class="navbar-form navbar-right" role="filter">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter" data-field="filter-term" value="{{filterTerm}}">
      </div>
    </div>
  </div>
</div>
<table class="medialist-table table table-responsive">
  <thead>
  <tr>
    <th class="col-checkbox">
      <div class="checkbox checkbox-default">
        <label>
          <input type="checkbox"/>
          <span class="checkbox-material">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </th>
    <th class="col-client">Client</th>
    <th class="col-campaign">Campaign</th>
    <th class="col-purpose col-wide">Purpose</th>
    <th class="col-updated-on">Last updated</th>
    <th class="col-updated-by">Last updated by</th>
  </tr>
  </thead>
  <tbody>
    {{#each medialists}}
    <tr class="contact-row" data-medialist="{{slug}}" data-action="show-contact-details">
      <td class="col-checkbox">
        <div class="checkbox checkbox-default">
          <label>
            <input type="checkbox"/>
            <span class="checkbox-material">
              <span class="check"></span>
            </span>
          </label>
        </div>
      </td>
      <td class="col-client">{{client.name}}</td>
      <td class="col-campaign"><a href="/medialist/{{slug}}">#{{slug}}</a></td>
      <td class="col-purpose">{{purpose}}</td>
      <td class="col-updated-on">{{fromNow updatedAt}}</td>
      <td class="col-updated-by">{{updatedBy.name}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</template>
