<template name="medialists">
<div class="medialist-toolbar">
  <div class="container-fluid">
    <div class="navbar-form navbar-left">
      {{#if checkSelectKeys}}
      <button class="btn btn-link">{{pluralize 'medialist' checkSelectKeys.length}}</button>
      {{else}}
      <a href="#" class="btn btn-primary btn-raised" data-action="create-medialist">Add Medialist</a>
      {{/if}}
    </div>
    <div class="navbar-form navbar-right" role="filter">
      <input type="text" class="form-control" placeholder="Filter" data-field="filter-term" value="{{filterTerm}}">
    </div>
  </div>
</div>
<table class="medialist-table table table-responsive table-hover">
  <thead>
  <tr>
    <th class="no-sort col-checkbox">
      <div class="checkbox checkbox-default">
        <label data-checkbox-all>
          <input type="checkbox"/>
        </label>
      </div>
    </th>
    <th class="col-campaign">Campaign</th>
    <th class="col-client">Client</th>
    <th class="no-sort col-purpose col-wide">Purpose</th>
    <th class="sort-default sort-down col-updated-on" data-sort-method="numeric">Last updated</th>
    <th class="no-sort col-updated-by">Last updated by</th>
  </tr>
  </thead>
  <tbody>
    {{#each medialists}}
    <tr class="contact-row {{#if checked}}checked-row{{/if}}" data-medialist="{{slug}}" data-action="show-contact-details">
      <td class="col-checkbox">
        <div class="checkbox checkbox-default">
          <label data-checkbox>
            <input type="checkbox" checked={{checked}} />
          </label>
        </div>
      </td>
      <td class="col-campaign"><a href="/medialist/{{slug}}">#{{slug}}</a></td>
      <td class="col-client">{{client.name}}</td>
      <td class="col-purpose">{{purpose}}</td>
      <td class="col-updated-on" data-sort="{{updatedAt.valueOf}}">{{fromNow updatedAt}}</td>
      <td class="col-updated-by">{{updatedBy.name}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</template>
