<template name="addContact">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add a contact</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <input value="{{name}}" data-field="contact-name" class="form-control input-lg" type="text" placeholder="Find..." autofocus />
        </div>
      </form>
      <div class="media">
        <div class="media-left">
          <div class="placeholder-avatar">
            <span class="glyphicon glyphicon-user"></span>
          </div>
        </div>
        <div class="media-body">
          <h5 class="media-heading">{{name}}</h5>
        </div>
        <div class="media-right">
          <button class="btn btn-primary" data-action="create-contact">Create</button>
        </div>
      </div>
      {{#each contacts}}
        {{> contactRow }}
      {{/each}}
    </div>
  </div>
</div>
</template>

<template name="contactRow">
  <div class="media">
    {{#if avatar}}
    <div class="media-left">
      <img class="img-rounded" width="40" height="40" src="{{avatar}}" alt="twitter profile image"/>
    </div>
    {{/if}}
    <div class="media-body">
      <h5 class="media-heading">{{name}}</h5>
      <div>{{roles.[0].org}}</div>
    </div>
    <div class="media-right">
      <span class="btn btn-flat btn-primary" data-action="add-contact">
        <span class="glyphicon glyphicon-plus"></span>
      </span>
    </div>
  </div>
</template>
