<template name="addContact">
<div class="modal-dialog">
  <div class="modal-content add-contact">
    <div class="modal-body">
      <div class="h5">Add contact{{#if medialistSlug}}s to #{{medialistSlug}}{{/if}}</div>
      <form>
        <div class="form-group">
          <input value="{{name}}" data-field="contact-name" class="form-control input-lg" type="text" placeholder="Find..." autofocus />
        </div>
      </form>
      {{#if name}}
      <div class="media">
        <div class="media-left">
          <img class="img-circle" width="40" height="40" src="/images/avatar.svg" alt="profile image"/>
        </div>
        <div class="media-body">
          <h5 class="media-heading">{{name}}</h5>
        </div>
        <div class="media-right">
          <button class="btn" data-action="create-contact">Add new contact</button>
        </div>
      </div>
      {{/if}}
      {{#if contacts.count}}
        <div class="subheader h6">Medialist.io contacts</div>
      {{/if}}
      {{#each contacts}}
        {{> contactRow}}
      {{/each}}
    </div>
  </div>
</div>
</template>

<template name="contactRow">
  <div class="contact-row media">
    {{#if avatar}}
    <div class="media-left">
      <img class="img-circle" width="40" height="40" src="{{avatar}}" alt="twitter profile image"/>
    </div>
    {{/if}}
    <div class="media-body">
      <div class="media-heading">{{name}}</div>
      <div>{{primaryOutlets}}</div>
    </div>
    <div class="media-right">
      <a href="#" data-action="view-contact">View contact</a>
      {{#if medialistSlug}}
        {{#if inCurrentMedialist}}
        <span class="btn btn-non-button">
          <span class="fa fa-check-square-o"></span>
        </span>
        {{else}}
        <span class="btn btn-link" data-action="add-contact">
          <span class="fa fa-user-plus"></span>
        </span>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
