<template name="createContact">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      {{#if queryingTwitter}}{{> spinner}}{{/if}}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create contact</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3">
                <img class="circle" width="100" height="100" id="contact-create-avatar" src="/images/avatar.svg" />
              </div>
              <div class="col-sm-9">
                <form>
                  <div class="form-group">
                    <label for="contact-create-name">Name</label>
                    <input type="text" value="{{name}}" id="contact-create-name" class="form-control" autofocus >
                  </div>
                  <div class="form-group">
                    <label for="contact-create-screenName">Twitter</label>
                    <input type="text" value="{{screenName}}" id="contact-create-screenName" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="contact-create-bio">Bio</label>
                    <textarea id="contact-create-bio" class="form-control"></textarea>
                  </div>
                  <div class="form-group" style="text-align:right">
                    <a class="btn btn-text" data-dismiss="modal" aria-label="Close">Cancel</a>
                    <button class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
