<template name="contactSlideIn">
  {{#with contactDetails}}
  <div class="contact-slide-in">
    <ul class="nav nav-pills nav-slide-in pull-left">
      <li role="presentation">
        <a href="#" data-action="close-contact-slide-in"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-slide-in pull-right">
      <li role="presentation">
        <a href="#"><i class="glyphicon glyphicon-new-window"></i></a>
      </li>
      <li role="presentation">
        <a href="#"><i class="glyphicon glyphicon-star-empty"></i></a>
      </li>
      <li role="presentation">
        <a href="#"><i class="glyphicon glyphicon-option-vertical"></i></a>
      </li>
    </ul>
    <div class="contact-top-section">
      <div class="container-fluid">
        <div class="media">
          <div class="media-left">
            <img class="media-object img-rounded" src="{{avatar}}" alt="{{name}} avatar">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{name}}</h4>
            {{#if roles.[0]}}<h5>{{roles.[0].title}} at {{roles.[0].org.name}}</h5>{{/if}}
          </div>
        </div>
        <div class="contact-menu">
          <div class="row">
            <a href="#" data-section="contactDetails" class="col-xs-4 contact-menu-option {{#if equal contactSection 'contactDetails'}}active{{/if}}">
              Details
            </a>
            <a href="#" data-section="contactActivity" class="col-xs-4 contact-menu-option {{#if equal contactSection 'contactActivity'}}active{{/if}}">
              Activity
            </a>
            <a href="#" data-section="contactRelated" class="col-xs-4 contact-menu-option {{#if equal contactSection 'contactRelated'}}active{{/if}}">
              Related
            </a>
          </div>
        </div>
      </div>
    </div>
    {{> Template.dynamic template=contactSection data=this}}
  </div>
  {{/with}}
</template>

<template name="contactDetails">
  <div class="container-fluid contact-info">
    <form>
      <div class="form-group">
        <label for="contact-detail-name">Name</label>
        <p class="editable-text-container" id="contact-detail-title">{{> editableText collection="contacts" field="name" inputClass="form-control" eventType="dblclick" substitute="-"}}</p>
      </div>
      <div class="form-group">
        <label for="contact-detail-title">Title</label>
        <p class="editable-text-container" id="contact-detail-title">{{> editableText collection="contacts" field="roles.0.title" inputClass="form-control" eventType="dblclick" substitute="-"}}</p>
      </div>
      <div class="form-group">
        <label for="contact-detail-org">Organisation</label>
        <p class="editable-text-container" id="contact-detail-org">{{> editableText collection="contacts" field="roles.0.org.name" inputClass="form-control" eventType="dblclick" substitute="-"}}</p>
      </div>
      <div class="form-group">
        <label for="contact-detail-screenName">Twitter</label>
        <p class="editable-text-container" id="contact-detail-screenName">{{> editableText collection="contacts" field="twitter.screenName" inputClass="form-control" eventType="dblclick" substitute="-"}}</p>
      </div>
      <div class="form-group">
        <label for="contact-detail-email">Email</label>
        <p class="editable-text-container" id="contact-detail-email">{{> editableText collection="contacts" field="roles.0.email" inputClass="form-control" eventType="dblclick" substitute="-"}}</p>
      </div>
      <div class="form-group">
        <label for="contact-detail-phone">Phone</label>
        <p class="editable-text-container" id="contact-detail-phone">
          <i class="glyphicon glyphicon-phone{{#if equal roles.[0].phones.[0].type 'landline'}}-alt{{/if}}" data-action="toggle-phone-type"></i>
          {{> editableText collection="contacts" field="roles.0.phones.0.number" inputClass="form-control inline" class="inline" eventType="dblclick" substitute="-"}}
          </p>
      </div>
    </form>
  </div>
</template>

<template name="contactActivity">
  <div class="container-fluid contact-activity-log">
    <ul class="activity-menu text-center">
      <li role="presentation" class="{{#if equal instance.option.get 'all'}}active{{/if}}" data-option="all">All Activity</li>
      <li role="presentation" class="{{#if equal instance.option.get 'medialist'}}active{{/if}}" data-option="medialist">#{{routeSlug}}</li>
      <li role="presentation" class="{{#if equal instance.option.get 'needToKnow'}}active{{/if}}" data-option="needToKnow">Need-to-know</li>
    </ul>

    {{> Template.dynamic template=feedbackTemplate.template data=feedbackTemplate.data}}

  </div>
</template>

<template name="contactPosts">
  <div class="post-container">
    <div class="row">
      <div class="col-xs-2">
        <img class="img-rounded" src={{profileImage}}>
      </div>
      <div class="col-xs-10">
        <form>
          <div class="form-group">
            <div class="form-control contenteditable-container {{#if instance.postOpen.get}}open{{/if}}">
              {{#if instance.postOpen.get}}
                <span contenteditable=true tabindex=0 data-field="post-text"></span>&nbsp;-&nbsp;{{> postSignature status=instance.status.get medialist=routeSlug}}
              {{else}}
                <span class="placeholder">What did {{firstName contact.name}} think of #{{routeSlug}}?</span>
              {{/if}}
            </div>
          </div>
        </form>
      </div>
    </div>
    {{#if instance.postOpen.get}}
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-sm btn-primary pull-right" data-action="save-post">Save</button>
          <span class="pull-right">
            <a data-target="#" class="btn btn-sm dropdown-toggle status status-{{classify instance.status.get}}" data-toggle="dropdown">
              {{instance.status.get}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#each statuses}}
                <li><a href="#" data-action="set-status" class="status status-{{classify this}}">{{this}}</a></li>
              {{/each}}
            </ul>
          </span>
        </div>
      </div>
    {{/if}}
    <hr>
  </div>
  {{#each posts}}
    {{> displayPost post=this}}
    <hr>
  {{/each}}
</template>

<template name="postSignature">
  <span class="signature">
    <span class="status status-{{classify status}}">{{status}}</span> for <a href="/medialist/{{medialist}}">#{{medialist}}</a>
  </span>
</template>

<template name="contactNeedToKnows">
  <div class="post-container">
    <div class="row">
      <div class="col-xs-2">
        <img class="img-rounded" src={{profileImage}}>
      </div>
      <div class="col-xs-10">
        <form>
          <div class="form-group">
            <div class="form-control contenteditable-container {{#if instance.postOpen.get}}open{{/if}}">
              {{#if instance.postOpen.get}}
                <span contenteditable=true tabindex=0 data-field="need-to-know-text"></span>
              {{else}}
                <span class="placeholder">What is {{firstName contact.name}} writing about at the moment?</span>
              {{/if}}
            </div>
          </div>
        </form>
      </div>
    </div>
    {{#if instance.postOpen.get}}
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-sm btn-primary pull-right" data-action="save-need-to-know">Save</button>
        </div>
      </div>
    {{/if}}
    <hr>
  </div>
  {{#each posts}}
    {{> displayPost post=this}}
    <hr>
  {{/each}}
</template>

<template name="contactRelated">
  <div class="container-fluid">
    <h2>Related</h2>
  </div>
</template>
