<template name="contactSlideIn">
  <div class="info-slide-in">
    <ul class="nav nav-pills nav-slide-in pull-left">
      <li role="presentation">
        <a data-action="close-contact-slide-in"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-slide-in pull-right">
      <li role="presentation">
        <a><i class="glyphicon glyphicon-new-window"></i></a>
      </li>
      <li role="presentation">
        <a><i class="glyphicon glyphicon-star-empty"></i></a>
      </li>
      <li role="presentation">
        <a><i class="glyphicon glyphicon-option-vertical"></i></a>
      </li>
    </ul>
    <div class="info-top-section bg-primary">
      <div class="container-fluid">
        <div class="media">
          <div class="media-left">
            <img class="media-object img-rounded" src="{{contactDetails.avatar}}" alt="{{contactDetails.name}} avatar">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{contactDetails.name}}</h4>
            <p>{{contactDetails.primaryOutlets}}</p>
          </div>
        </div>
        <div class="info-menu">
          <div class="row">
            <a data-section="contactDetails" class="col-xs-4 info-menu-option {{#if equal contactSection 'contactDetails'}}active{{/if}}">
              Details
            </a>
            <a data-section="contactActivity" class="col-xs-4 info-menu-option {{#if equal contactSection 'contactActivity'}}active{{/if}}">
              Activity
            </a>
            <a data-section="contactRelated" class="col-xs-4 info-menu-option {{#if equal contactSection 'contactRelated'}}active{{/if}}">
              Related
            </a>
          </div>
        </div>
      </div>
    </div>
    {{> Template.dynamic template=contactSection data=contactDetails}}
  </div>
</template>

<template name="contactDetails">
  <div class="container-fluid info-content">
    <form>
      <div class="last-updated text-right">
        Last updated by <span class="text-primary">{{youOrName updatedBy}}</span> {{fromNow updatedAt}}
      </div>
      <div class="form-group form-group-editable">
        <label for="contact-detail-name">Name</label>
        {{> editableText collection="contacts" field="name" class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
      </div>
      <div class="form-group form-group-editable">
        <label for="contact-detail-job-title">Title</label>
        {{> editableText collection="contacts" field="jobTitles" acceptEmpty=true class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
      </div>
      <div class="form-group form-group-editable">
        <label for="contact-detail-primary-outlets">Media outlet</label>
        {{> editableText collection="contacts" field="primaryOutlets" acceptEmpty=true class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
      </div>
      {{> contactSocials }}
      {{> contactEmails }}
      {{> contactPhones}}
      <div class="form-group form-group-editable">
        <label for="contact-detail-primary-outlets">Work Website</label>
        {{> editableText collection="contacts" field="website" acceptEmpty=true class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
      </div>
      <div class="form-group form-group-editable">
        <label for="contact-detail-primary-outlets">Address</label>
        {{> editableText collection="contacts" field="address" acceptEmpty=true class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
      </div>
    </form>
  </div>
</template>

<template name="contactEmails">
  {{#each allOrDefault emails}}
  <div class="form-group form-group-editable">
    <label class="text-capitalize">{{label}} Email<span class="caret"></span></label>
    {{> editableText collection="contacts" field="value" acceptEmpty=true placeholder='Add Email' class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
    <a class="text-sm pull-right add-link">Add Email</a>
  </div>
  {{/each}}
</template>

<template name="contactPhones">
  {{#each allOrDefault phones}}
  <div class="form-group form-group-editable">
    <label class="text-capitalize">
      {{label}}
      <i class="glyphicon glyphicon-phone{{#if equal label 'Landline'}}-alt{{/if}}" data-action="toggle-phone-type"></i>
      <span class="caret"></span>
    </label>
    {{> editableText collection="contacts" field="value" acceptEmpty=true placeholder='Add Phone' class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
    <a class="text-sm pull-right add-link">Add Phone</a>
  </div>
  {{/each}}
</template>

<template name="contactSocials">
  {{#each allOrDefault socials}}
  <div class="form-group form-group-editable">
    <label class="text-capitalize">{{label}}<span class="caret"></span></label>
    {{> editableText collection="contacts" field="value" acceptEmpty=true placeholder='Add Social' class="form-control-static" inputClass="form-control" beforeUpdate="generateUpdatePost"}}
    <a class="text-sm pull-right add-link">Add Social</a>
  </div>
  {{/each}}
</template>

<template name="contactActivity">
  <div class="container-fluid info-activity-log">
    {{#if medialistSlug}}
      {{> logFeedback feedbackTemplate.data}}
    {{/if}}
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="{{#if equal instance.option.get ''}}active{{/if}}">
        <a data-option="">All Activity</a>
      </li>
      {{#if medialistSlug}}
        <li role="presentation" class="{{#if equal instance.option.get medialistSlug}}active{{/if}}">
          <a data-option="{{medialistSlug}}">#{{medialistSlug}}</a>
        </li>
      {{/if}}
    </ul>

    {{> Template.dynamic template=feedbackTemplate.template data=feedbackTemplate.data}}

  </div>
</template>

<template name="contactPosts">
  <div class="panel panel-sm">
    <ul class="list-group">
    {{#each posts}}
      <li class="list-group-item">
        {{> displayPost post=this}}
      </li>
    {{/each}}
    </ul>
  </div>
  {{#unless Template.subscriptionsReady}}
    <div class="spinner-box">
      {{> spinner}}
    </div>
  {{/unless}}
  {{#unless (or posts.count (not Template.subscriptionsReady))}}
    <div class="h6 text-center">There is no activity for this contact.</div>
  {{/unless}}
</template>

<template name="contactRelated">
  <div class="container-fluid info-activity-log">
    <div class="spacer"></div>
    <h5 class="text-center">Related</h5>
  </div>
</template>
