.slide-in.contactSlideIn, .slide-in.medialistSlideIn {
  background: @grey-100;
  width: 360px;
  &.right {
    right: -360px;
  }
  &.right.open {
    right: 0;
  }
}

.editable-text-container {
  position: relative;
  display: block;
  &::after{
    .glyphicon();
    position: absolute;
    right: 5px;
    top: 5px;
    content:"\270f";
    opacity: 0;
    transition: opacity 200ms linear;
  }
  &:hover {
    box-shadow: inset 0 -1px 0 0 #D2D2D2;
    &::after {
      opacity: 0.3;
    }
  }
}

.editable-text-container .editable-text {
  height: 34px;
  line-height: 34px;
  &.inline {
    display: inline-block;
    min-width: 50%;
  }
}
.panel-feedback {
  margin-top: 15px;
  margin-bottom:10px;
}

.wide-text-edit.inline {
  display: inline-block;
  width: 80%;
}
#contact-detail-screenName span::before{
  content:"@";
}
#contact-detail-phone .glyphicon {
  margin-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.info-slide-in {
  height: 100%;
}

@info-top-section-padding-top: 60px;
@info-top-section-media-row-height: 60px;
@info-top-section-menu-line-height: 20px;
@info-top-section-menu-padding-top-bottom: 25px;
@info-top-section-height: @info-top-section-padding-top + @info-top-section-media-row-height + @info-top-section-menu-line-height + (2 * @info-top-section-menu-padding-top-bottom);

.info-top-section {
  padding: @info-top-section-padding-top 0 0 0;
  margin: 0;
  &.green {
    background-color: #54AD59;
  }

  img {
    margin-right: 10px;
    height: 48px;
    width: 48px;
    background-color: #fff;
  }
  .media {
    padding: 0 24px 0;
    height: @info-top-section-media-row-height;
  }
  .media-heading {
    font-weight: bold;
  }
}

.info-menu {
  text-align: center;
  text-transform: uppercase;
}
a.info-menu-option {
  padding: @info-top-section-menu-padding-top-bottom 0;
  line-height: @info-top-section-menu-line-height;
  color: #fff;
  text-decoration: none;
  &.active {
    font-weight: bold;
    box-shadow: inset 0 -4px 0 0 @brand-accent;
  }
}

.info-content {
  position: relative;
  height: calc(~"100% - "@info-top-section-height);
  padding: 15px;
  .last-updated {
    font-size: 12px;
    color: @grey-400;
    margin-bottom: 10px;
  }
  label {
    color: @grey-400;
    font-weight:normal;
  }
  p {
    background-image: none;
  }
}
.info-activity-log {
  position: relative;
  height: calc(~"100% - "@info-top-section-height);
}
.info-activity-log .medialist-select {
  margin-left: 20px;
  font-size: 12px;
  color: @grey-400;
  .dropdown-toggle {
    text-transform: none;
    padding: 10px;
  }
}

.info-activity-posts-select {
  background-color: @grey-100;
  .dropdown-toggle {
    text-transform: none;
  }
}

.info-activity-posts {
  padding: 15px;
  background-color: @grey-100;
}
.placeholder {
  color: @grey-500;
}
.spinner-box {
  height: 100px;
  width: 100%;
  position: relative;
}
