.display-post {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;

  .display-post-details {
    margin-bottom: 0;
  }

  .display-post-details, .display-post-time-ago {
    color: @grey-500;
  }

  .row + .row {
    margin-top: 10px;
  }
}
