<template name="displayPost">
  {{#with post}}
  <div class="display-post">
    <div class="row">
      <div class="col-xs-2">
        {{#if profileImage}}
        <div class="media-left">
          <img class="media-object img-rounded" src="{{createdBy.avatar}}" alt="{{createdBy.name}} avatar">
        </div>
        {{/if}}
      </div>
      <div class="col-xs-10">
        <div class="display-post-details">
          {{#if equal type 'need to know'}}
            <a href="#">{{youOrName createdBy}}</a> added a Need-to-know{{#if ../showContact}} for {{contacts.[0].name}}{{/if}}
          {{/if}}
          {{#if equal type 'details changed'}}
            <a href="#">{{youOrName createdBy}}</a> {{message}}
          {{/if}}
          {{#if equal type 'medialists changed'}}
            <a href="#">{{youOrName createdBy}}</a> {{message}}
          {{/if}}
          {{#if equal type 'feedback'}}
            <a href="#">{{youOrName createdBy}}</a> logged feedback{{#if ../showContact}} for {{contacts.[0].name}}{{/if}} - {{> postSignature status=status medialist=medialists.[0]}}
          {{/if}}
        </div>
        <div class="display-post-time-ago">
          {{fromNow createdAt}}
        </div>
      </div>
    </div>
    {{#if or (equal type 'feedback') (equal type 'need to know')}}
      {{#if message}}
      <div class="row">
        <div class="col-xs-12">
          <div class="display-post-message">
            {{message}}
          </div>
        </div>
      </div>
      {{/if}}
    {{/if}}
  </div>
  {{/with}}
</template>
