<template name="displayPost">
  <div class="display-post">
    <div class="row">
      <div class="col-xs-2">
        {{#if profileImage}}
        <div class="media-left">
          <img class="media-object img-rounded" src="{{profileImage}}" alt="{{currentUser.profile.name}} avatar">
        </div>
        {{/if}}
      </div>
      <div class="col-xs-10">
        <p class="display-post-details">
          <a href="#">{{youOrName createdBy}}</a> logged feedback - {{> postSignature status=status medialist=slug}}
        </p>
        <p class="display-post-time-ago">
          {{createdAt.fromNow}}
        </p>
      </div>
    </div>
    {{#if message}}
    <div class="row">
      <div class="col-xs-12">
        <p class="display-post-message">
          {{message}}
        </p>
      </div>
    </div>
    {{/if}}
  </div>
</template>
