.display-post {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;

  .display-post-details {
    margin-bottom: 0;
  }

  .display-post-details, .display-post-time-ago {
    color: @grey-400;
    font-size:12px;
    line-height:1.4;
  }

  .row + .row {
    margin-top: 10px;
  }

  .display-post-message {
    font-size:14px;
    color: @grey-800;
    margin: 12px 0 0;
  }
}
