<template name="contacts">
<div class="medialist-toolbar">
  <div class="container-fluid">
    <div class="navbar-form navbar-left">
      {{#if checkSelectKeys}}
      <button class="btn btn-link">{{pluralize 'contact' checkSelectKeys.length}}</button>
      <a href="#" class="btn btn-success" data-action="create-new-medialist">Create Medialist</a>
      <a href="#" class="btn btn-success" data-action="add-to-existing-medialist">Add to existing</a>
      {{else}}
      <a href="#" class="btn btn-primary btn-raised" data-action="add-new">Add Contact</a>
      {{/if}}
    </div>
    <div class="navbar-form navbar-right" role="filter">
      <input type="text" class="form-control" placeholder="Filter" data-field="filter-term" value="{{filterTerm}}">
    </div>
  </div>
</div>
<table class="medialist-table table table-responsive table-hover">
  <thead>
  <tr>
    <th class="no-sort col-checkbox">
      <div class="checkbox checkbox-default">
        <label>
          <input type="checkbox" data-checkbox-all />
        </label>
      </div>
    </th>
    <th></th>
    <th>Name</th>
    <th class="hidden-xs sort-default">Media outlet</th>
    <th class="hidden-xs">Title</th>
    <th class="no-sort hidden-xs col-wide">Medialists</th>
  </tr>
  </thead>
  <tbody>
    {{#each allContacts}}
      {{> allContactsRow this}}
    {{else}}
      <tr>
        <td></td>
        <td></td>
        <td><strong>Add some contacts&hellip;</strong></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>

<template name="allContactsRow">
  <tr class="document-row {{#if equal slug selected}}selected{{/if}} {{#if checked}}checked-row{{/if}}" data-contact="{{slug}}" data-action="show-contact-slide-in">
    <td class="col-checkbox">
      <div class="checkbox checkbox-default">
        <label>
          <input type="checkbox" checked={{checked}} data-checkbox />
        </label>
      </div>
    </td>
    <td class="col-img">
      {{> avatar}}
    </td>
    <td class="col-name">
      {{name}}
    </td>
    <td class="col-org hidden-xs">
      {{primaryOutlets}}
    </td>
    <td class="col-org hidden-xs">
      {{jobTitles}}
    </td>
    <td class="hidden-xs col-feedback">
      <h4>
      {{#each medialists}}
        <a class="label label-primary" href="/medialist/{{this}}">#{{this}}</a>
      {{/each}}
      </h4>
    </td>
  </tr>
</template>
