<template name="contactsImport">
  <div class="contacts-import">
    <div class="medialist-toolbar">
      <div class="container-fluid">
        {{#if hasFile}}
          {{#if instance.parsing.get}}
            <a href="#" class="btn btn-primary" disabled>Import contacts</a>
            <a href="#" class="btn btn-danger" disabled>Cancel</a>
          {{else}}
            <a href="#" class="btn btn-primary" data-action="import">Import contacts</a>
            <a href="#" class="btn btn-danger" data-action="cancel">Cancel</a>
          {{/if}}
        {{else}}
          <a href="#" class="btn btn-primary" disabled>Import contacts</a>
          <a href="#" class="btn btn-danger" disabled>Cancel</a>
        {{/if}}
        <div class="navbar-form navbar-right" >
          <div class="form-group">
            <div class="checkbox checkbox-default checkbox-toggle-csv-header">
              <label>
                <input type="checkbox" checked data-action="toggle-csv-header"/>
                <span class="checkbox-material">
                  <span class="check"></span>
                </span>
                First row is column heading labels
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if hasFile}}
      {{> contactsImportPreview parsing=instance.parsing rows=instance.rows header=instance.header}}
    {{else}}
      {{> contactsImportChoose file=instance.file}}
    {{/if}}
  </div>
</template>

<template name="contactsImportChoose">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="drop-target">
          <div>
            <h1>Drag and Drop CSV file here</h1>
            <p>- or -</p>
            <input type="file" accept="text/csv">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="contactsImportPreview">
  {{#if parsing.get}}
    {{> spinner}}
  {{else}}
    <table class="medialist-table table table-responsive">
      <thead>
        <tr>
          <th></th>
          {{#each columns rows.get}}
            <th data-key={{key}}>{{label}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each rows.get}}
          {{#unless skipRow this ../rows.get ../header.get}}
            <tr>
              <td></td>
              {{#each this}}
                <td>{{this}}</td>
              {{/each}}
            </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</template>
